{% extends "tableofcontracts.html" %}
{% block title %}
<script>
var URL = "/catalog/rest_task";
// var URL2 = "/catalog/rest_task;
$(document).ready(
  function()
  {
    $("#table1").hide();
  }
)

function getTasks()
{
  $.getJSON(URL,{},showContracts);
}

// function getTasks()
// {
//   $.getJSON(URL2,{},showTasks);
// }

// function getContract()
// {
//   $.getJSON(URL + $("#contract_name").val)
//     .done(showContract)
//     .fail(function()
//           {
//               alert("Contract Not Found!");
//           })
// }
//
// function showContract(contract)
// {
//   $("#contract_name").val(contract.contractName)
// }

function showContracts(contracts)
{
  $("#rows1").html("")
    $.each(tasks, function(idx,tasks)
                      {
                          $("#rows").append("<tr><td>" + task.taskName + "</td><td>" + task.contract "</td><td>" + contract.datetimeEnd + " </td></tr>");
                      }
          );
          $("#table1").show();
}

// function showTasks(tasks)
// {
//   $("#rows2").html("")
//   $.each(tasks, function(idx,tasks)
//                     {
//                         $("#rows2").append("<tr><td>" + task.taskName + "</td><td>" + task.contract "</td><td>" + contract.datetimeEnd + " </td></tr>");
//                     }
//         );
//         $("#table2").show();
// }
</script>
<title>Current Tasks</title> {% endblock %}
