<!DOCTYPE html>
{% load static %}
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
  <body class="main-page">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div align="left" class="col">
          <h2 >Главная страница </h2>
        </div>
        <div align="middle" class="col">
          <picture>
            <img src="{%static 'LogoInversed.png'%}"/>
          </picture>
        </div>
        <div align="right" class="col">
          <button  class="btn btn-primary btn-block" onclick="location.href='{% url 'login' %}'" type="submit">ВОЙТИ</button>
        </div>
      </div>
    </div>

  <hr class="hr-xs">
<div class="row no-gutters">
  <div class="col-12 col-sm-6 col-md-8">
      {% block content %} {% endblock %}
      <h4><i>
        Главная страница сделанная для группового проекта.
        </i></h4>
        <h5><i>
        Отсюда вы можете перейти на страницу входа в аккаунт введя при этом данные своей учетной записи
        </i></h5>
    </div>
  </div>

  ​<picture>
    <!-- <source srcset="C:\Users\Сергей\Git\Organiser\templates" type="image/svg+xml"> -->
    <img src="mainSerIm.jpg" class="img-fluid" alt="Responsive image">
  </picture>

  <div class="fixed-bottom">
    <div class="col align-self-end">

      <h5><i>
         Немного информации о нас:
       </i></h5>
      <h4><i>
         Попов В.А. Круглов С.В. Малинин М.Ю.
     </i></h4>
    </div>
  </div>






<style>
.fixed-bottom
{
  background-color:#b3deff
}
  .btn-block
  {
    width: 250px;
    background:#29aafe;
    border-color:#29aafe;
  }
.container-fluid
{
  background-color:#b3deff
}
</style>
</body>

</html>
