<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>



{%block navbar%}
<nav class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand" href={% url 'main' %}>
    <img src="{%static 'LogoInversed.png'%}" / width="168" height="45">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      {% csrf_token %}
      {%block navitems%}

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href={% url 'allContracts' %}>Contracts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'myTasks' %}>Your Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'addTask' %}>New Task</a>
        </li>
        {%endif%}
      {%endblock%}
    </ul>

    {%block login%}
    {% if user.is_authenticated %}
      <div id = "UserNameField">Hello, {{user.username}}</div>
      <button onclick="location.href='{% url 'logout' %}'" class="btn btn-primary" type="submit">Log Out</button>
    {%else%}
      <button onclick="location.href='{% url 'login' %}'" class="btn btn-primary" type="submit">Log In</button>
    {%endif%}
    {%endblock%}
  </div>
</nav>

<style>
  body {
    background-color: #b3deff
  }
  .navbar {
    background-color: #80c8ff;
    padding: 0px;
    border: 0px;
  }

  .navbar-brand {
    padding: 0px;
  }
</style>

{%endblock%}

<body>
  {% block content %}
  <div class="row no-gutters">
    <div class="col-12 col-sm-6 col-md-8">
      <h4><i>Главная страница сделанная для группового проекта.</i></h4>
      <h5><i>Отсюда вы можете перейти на страницу входа в аккаунт введя при этом данные своей учетной записи</i></h5>
    </div>
  </div>

  ​<picture>
    <!-- <source srcset="C:\Users\Сергей\Git\Organiser\templates" type="image/svg+xml"> -->
    <img src="{%static 'boxes.jpg'%}" class="img-fluid" alt="Responsive image">
  </picture>

  <div>
    <div id = "teamInfo" class="container-fluid">
      <h5><i>Немного информации о нас:</i></h5>
      <h4><i>Попов В.А. Круглов С.В. Малинин М.Ю.</i></h4>
    </div>
  </div>
  {% endblock %}
</body>
<style>
#teamInfo{
  background-color: #80c8ff;
}
</style>
<!-- <style>
#ButnNav
{
  margin-left: auto;
  margin-right: 1%;
}
.navbar
{
  background-color:#80c8ff;
  padding: 20px;
}
.fixed-bottom
{
  background-color:#80c8ff
}
  .btn-block
  {
    width: 250px;
    background:#29aafe;
    border-color:#29aafe;
  }
</style> -->


</html>
