<!doctype html>

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">

<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script>
    var URL = "/catalog/rest_contract";

    $(document).ready(
      function()
      {
        $("#contracts").hide();
      }
    )

    function getContracts()
    {
      $.getJSON(URL,{},showContracts);
    }

    function getContract()
    {
      $.getJSON(URL + $("#contract_name").val)
        .done(showContract)
        .fail(function()
              {
                  alert("Contract Not Found!");
              })
    }

    function showContract(contract)
    {
      $("#contract_name").val(contract.contractName)
    }

    function showContracts(contracts)
    {
      $("#contractrows").html("")
      $.each(contracts, function(idx,contract)
                        {
                            $("#contractrows").append("<tr><td>" + contract.zakupkiId + "</td><td><a href = " + contract.get_absolute_url + ">" + contract.contractName +  "</a></td><td>" + contract.display_tasks + " </td></tr>");
                        }
            );
            $("#contracts").show();
    }
    </script> -->
    <title>Current Contracts</title>
  </head>

  <body>
    <body class="table-page">
      <body class="main-page">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div align="left" class="col">
              <h2 >Contracts</h2>
            </div>
            <div align="middle" class="col">
              <picture>
                <img src="Logo.png" class="img-fluid">
              </picture>
            </div>
            <div align="right" class="col">
              <button  onclick="location.href='{% url 'logout' %}'" class="btn btn-primary btn-block" type="submit">LogOut</button>
            </div>
          </div>
        </div>

      <hr class="hr-xs">


    <!-- <div class="container-fluid">
      <div class="row align-items-center">
        <div align="left" class="col">
          <h1>Contracts </h1>
        </div>
        <div align="right" class="col">
          <button onclick="location.href='{% url 'logout' %}'" class="btn btn-primary btn-block" type="submit">
              LogOut
          </button>
        </div>
      </div>
    </div> -->


      <div class="container-fluid">
        <div class="row align-items-center">
          <div align="left" class="col">
            <button class="btn btn-primary btn-block" onclick="getContracts()">List</button>
          </div>

          <div "row justify-content-end">
            <form class="form-inline">
              <i class="fas fa-search" aria-hidden="true"></i>
              <input class="form-control" type="text" placeholder="Search" aria-label="Search">
              <button  class="btn btn-primary btn-sm" type="button">Search</button>
            </form>
          </div>
        </div>
      </div>

    <div id="tabCont" class="container">
  	     <table id = "contracts" class="display" cellspacing="0" width="100%">
  		<thead>
  			<tr>
  				<th scope = "col"> № </th>
  				<th scope = "col"> Contract </th>
  				<th scope = "col"> Description </th>
  			</tr>
  		</thead>
      <tfoot>
        <tr>
  				<th scope = "col"> № </th>
  				<th scope = "col"> Contract </th>
  				<th scope = "col"> Description </th>
  			</tr>
      <tfoot>
  		<tbody id = "contractrows">
  			<!-- <tr>
  				<th scope = "row"> 1 </th>
  				<td><a href = "index1.html"> Moscow </a></td>
  				<td> Hello Moscow </td>
  			</tr>
  			<tr>
  				<th scope = "row"> 2 </th>
  				<td><a href = "index1.html"> Ufa </a></td>
  				<td> Hello Ufa </td>
  			</tr> -->
  		</tbody>
  	</table>
    </body>
    <style>
      .hr-xs
      {
        margin-top:5px;
        margin-bottom:5px
      }
      .table-page
      {
        background-color:#b3deff
      }
      .btn-block {
        width: 250px;
        background: #29aafe;
        border-color: #29aafe;
      }
    </style>
  </body>
</html>
