<!doctype html>

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">

<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Current Contracts</title> {% endblock %}
  </head>

  <body>
    <div class="container-fluid">
      <div class="row align-items-center">
        <div align="left" class="col">
          {% block content %}
          <h1>Contracts</h1>
          {% endblock %}
        </div>
        <div align="right" class="col">
          <button onclick="location.href='{% url 'logout' %}'" class="btn btn-primary btn-block" type="submit">
              LogOut
          </button>
        </div>
      </div>
    </div>

    <div class ='container' id = 'contractCards'>

    <style>
      .btn-block {
        width: 250px;
        background: #29aafe;
        border-color: #29aafe;
      }
    </style>
  </body>

  <!-- ====================================================== -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

  <script>
  var URL = "/catalog/rest_contract/";

  $(document).ready(
    function()
    {
    $.getJSON(URL,{},showContracts);
      // $("#table2").hide();
    }
  )

  function getContract()
  {
    $.getJSON(URL + $("#contract_name").val)
      .done(showContract)
      .fail(function()
            {
                alert("Contract Not Found!");
            })
  }

  function showContract(contract)
  {
    $("#contract_name").val(contract.contractName)
  }



  function showContracts(contracts)
  {
    $("#rows").html("")
    var count = 0
    var content = '';
    $.each(contracts, function(idx,contract)
    {
      if (count == 0){
        content += '<div class="row justify-content-md-center">'
      }
      content += '<div class="col-md-auto">'
      content += '<div class="card mb-4" style="width: 18rem;">'
      content += '<div class="card-body">'
      content += '<h5 class="card-title">' + contract.contractName + '</h5>'
      content += '<h6 class="card-subtitle mb-2 text-muted">' + contract.zakupkiId + '</h6>'
      content += '<p class="card-text">Date Start: ' + contract.dateStart + '</p>'
      content += '<p class="card-text">Date End: ' + contract.dateEnd + '</p>'
      content += '<a href="#" class="card-link">Ссылка карты</a>'
      content += '<a href="#" class="card-link">Другая ссылка</a>'
      content += '</div>'
      content += '</div>'
      content += '</div>'

      count+=1
      if (count == 3){
        content += '</div>'
        count = 0
      }
    });
    $("#contractCards").append(content)
  }
  </script>


</html>
