{% extends "main.html" %}


{% block content %}
<table class="table table-striped" id = "table">
  <thead>
    <tr>
      <th scope = "col"> Name </th>
      <th scope = "col"> Follower </th>
      <th scope = "col"> Contract </th>
    </tr>
  </thead>
  <tbody id = "rows">
  </tbody>
</table>

<script>
  URL = "/catalog/rest_tasks/currentuser";
$(document).ready(
  function()
  {
    $.getJSON(URL,{},showTasks);
    }
  )
  function showTasks(tasks)
  {
    // $("#rows").html("")
    $.each(tasks, function(idx,task)
                      {
                        content = ''
                        content += "<tr>"
                        content +=  "<td>" + task.taskName + "</td>"
                        content +=  "<td>" + task.followers + "</td>"
                        content +=  "<td>" + task.taskContractName + "</td>"
                        content += "</tr>"
                        $('#table').append(content)
                      }
          );
          $("#table").show();
  }
</script>
{% endblock %}
