{% extends "tableofcontracts.html" %}

{% block title %}
<h2> Tasks </h2>
{% endblock %}

{% block page %}
<button  onclick="location.href='/catalog/task_add'" class="btn btn-primary btn-block" type="submit">Add Task</button>
<button  onclick="location.href='/catalog/all_contracts'" class="btn btn-primary btn-block" type="submit">Contracts</button>
{% endblock %}
{% block footer %}
<table class="table table-striped" id = "table">
  <thead>
    <tr>
      <th scope = "col"> Name </th>
      <th scope = "col"> Follower </th>
      <th scope = "col"> Contract </th>
    </tr>
  </thead>
  <tbody id = "rows">
  </tbody>
</table>
{% endblock %}

{% block content %}
<script>
  URL = "/catalog/rest_tasks/";
$(document).ready(
  function()
  {
    $.getJSON(URL,{},showTasks);
    }
  )
  function showTasks(tasks)
  {
    $("#rows").html("")
    $.each(tasks, function(idx,task)
                      {
                          $("#rows").append("<tr><td>" + task.taskName + "</td><td>" + task.followers + "</td><td>" + task.taskContractName + " </td></tr>");
                      }
          );
          $("#table").show();
  }
</script>
{% endblock %}
