{% extends "main.html" %}
{% load rest_framework %}


{%block navitems%}
<li class="nav-item">
  <a class="nav-link" href={% url 'allContracts' %}>Contracts</a>
</li>
<li class="nav-item">
  <a class="nav-link" href={% url 'myTasks' %}>Your Tasks</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href={% url 'addTask' %}>New Task</a>
</li>
{%endblock%}

{%block content%}

<div class="container tasksPlus-page">
  <div id="forma" align="middle" class='container-fluid' id='tasksPlus'>
    <form action="{% url 'addTask'%}" method="POST">
      {% csrf_token %}
      {% render_form serializer %}
      <input type="submit" value="Save">
    </form>
  </div>
</div>
{%endblock%}
